<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>:: Hotel Template ::</title>
    <link href="../static/stylesheets/main.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="../static/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css" />

  </head>
  <body>
    <!-- BEGIN HEADER -->
    <header>
        <div class="container">
            <div id="logo">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <a href="#"><h3>Waldorf Curacao</h3></a>
            </div>
            <nav>
                <a href="#">Home</a>
                <a href="#">Rooms & Rates</a>
                <a href="#">Gallery</a>
                <a href="#">Booking</a>
                <a href="#">Services</a>
                <a href="#">Testimonials</a>
                <a href="#">Contact</a>
            </nav>
        </div>
    </header>
    <!-- END HEADER -->

    <!-- MAIN SECTION -->
    <div class="sectOne">
        <div class="slogan">
            <h1><span>Get Further Away</span></h1>
            <h3>Luxury // Relaxation // Privacy</h3>
        </div>
    </div>
    <!-- WELCOME SECTION -->
    <div class="sectTwo">

        <img class="ornament-big" src="../static/img/ornament.png" alt="Ornament">

        <h3>Welcome to</h3>

        <h2>Waldorf Curacao</h2>

        <p>Lorizzle ipsum ass sit amizzle, consectetuer yo mamma izzle. Nullizzle sapizzle velit, dawg volutpizzle, <br />suscipit quizzle, gravida vizzle, go to hizzle. Pellentesque nizzle tortor. Sed erizzle. Go to hizzle uhuh ... yih! <br /> dolor dapibus that's the shizzle tempizzle fizzle. </p>

        <img class="rev-ornament-big" src="../static/img/ornament.png" alt="Ornament">
    </div>
    <!-- SERVICES SECTION -->
    <div class="sectThree">

        <div class="container">
            <h2>Services</h2>

            <div class="columns">
                <img src="../static/img/room.jpeg" alt="Rooms">
                <h3>Rooms & Rates</h3>
                <img class="ornament" src="../static/img/ornament.png" alt="Ornament">
                <p>This is some dummy copy. You’re not really supposed to read this dummy copy, it is just a place holder for people who need some type to visualize what the actual copy might look like if it were real content.</p>
                <img class="rev-ornament" src="../static/img/ornament.png" alt="Ornament">
                <a href="#" class="button">More Info</a>
            </div>

            <div class="columns">
                <img src="../static/img/spa.jpg" alt="Rooms">
                <h3>Wellness & Spa</h3>
                <img class="ornament" src="../static/img/ornament.png" alt="Ornament">
                <p>This is some dummy copy. You’re not really supposed to read this dummy copy, it is just a place holder for people who need some type to visualize what the actual copy might look like if it were real content.</p>
                <img class="rev-ornament" src="../static/img/ornament.png" alt="Ornament">
                <a href="#" class="button">More Info</a>
            </div>

            <div class="columns">
                <img src="../static/img/restaurant1.jpeg" alt="Rooms">
                <h3>Restaurant</h3>
                <img class="ornament" src="../static/img/ornament.png" alt="Ornament">
                <p>This is some dummy copy. You’re not really supposed to read this dummy copy, it is just a place holder for people who need some type to visualize what the actual copy might look like if it were real content.</p>
                <img class="rev-ornament" src="../static/img/ornament.png" alt="Ornament">
                <a href="#" class="button">More Info</a>
            </div>
        </div>

    </div>
    <!-- SPECIALS SECTION -->
    <div class="sectFour">

        <div class="container">
            <img class="ornament-big" src="../static/img/ornament.png" alt="Ornament">
            <h2>Specials</h2>

            <section>
                <img src="../static/img/shuttle.jpg" alt="">
            </section>
            <section>
            <p>
                Besides our main services, we always have a lot of extra amenities to offer.
                Starting with the free parking and WiFi to a SPA center and a Conference hall,
                we can make all of your wishes come true!
            </p>
                <h3>Book a Suite Now</h3>
                <p>GET a FREE Airport Shuttle<br />
                That's correct! We're so determined to make your experience at our hotel a charm,
                that we'd love to provide you with a courtesy airport shuttle if you book with us!
                Prices start at <strong>$249</strong>/per night</p>
                <a href="#" class="button">More Info</a>
            </section>
            <img class="rev-ornament-big" src="../static/img/ornament.png" alt="Ornament">
        </div>
    </div>
    <!-- TESTIMONIALS SECTION -->
    <div class="sectFive">


        <div class="container">
            <img class="ornament-big" src="../static/img/ornament.png" alt="Ornament">
            <h2>Testimonials</h2>
            <div class="columns">
                <img  src="../static/img/cube.jpg" alt="">
                <h3>Superb!</h3>
                <div>
                  <p>While staying in Walldorf on my business affairs I always stay at this place. The price/quality ratio here is just outstanding, allowing me to save more money for other spends while visiting… 5 out of 5!</p>
                  <p class="cite">- Ice Cube</p>
                </div>
            </div>
            <div class="columns">
                <img src="../static/img/jlo.jpg" alt="">
                <h3>Incredible!</h3>
                <div>
                  <p>Choosing a hotel is always challenging, especially if you’re on a hectic schedule and are visiting the place for the first time. That’s why I was so happy that my guess with this hotel was definitely a lucky one.</p>
                  <p class="cite">- Jennifer Lopez</p>
                </div>
            </div>
            <div class="columns">
                <img src="../static/img/oj.jpg" alt="">
                <h3>Exceptional!</h3>
                <div>
                  <p>I’ve been visiting Walldorf last year while touring across the Midwest with my family. The Family room is just great, the hotel’s restaurant (and bar) are nice and overall, even the price was very reasonable…</p>
                  <p class="cite">- OJ Simpson</p>
                </div>
            </div>
            <a href="#" class="button-white">See All Testimonials</a>
            <img class="rev-ornament-big" src="../static/img/ornament.png" alt="Ornament">
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="footertext">
                <p>&copy; Copyright Walldorf Hotel 2017 | All Rights Reserved | <a href="#">Disclaimer</a></p>
            </div>

            <ul>
                <li>
                    <p>Follow us on:</p>
                </li>
                <li>
                    <a href="https://facebook.com" target="_blank">
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        <p></p>
                    </a>
                </li>
                <li>
                    <a href="https://instagram.com/" target="_blank">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="http://tripadvisor.com/" target="_blank">
                        <i class="fa fa-tripadvisor" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="http://twitter.com/" target="_blank">
                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </footer>




    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/js/javascript.js"></script>
  </body>
</html>
