@import responsive
@import variables
@import mixins
@import responsive

// HEADER COMPONENTS

header
    position: fixed
    top: 0
    width: 100%
    background: #fff
    margin: 0
    border-bottom: 3px solid $primary-color
    z-index: 10
    -moz-box-shadow:    0 5px 10px #555
    -webkit-box-shadow: 0 5px 10px #555
    box-shadow:         0 5px 10px #555

#logo
    margin: 10px 0 0 0
    text-align: center
    float: left
    h3
        margin: 5px 0 0 0
        color: $contrast-color

nav
    float: right
    margin-top: 30px
    a
        padding-bottom: 24px
        display: inline-block
        margin-left: 20px
        font-family: $link-font
        font-size: 14px
        font-weight: 700
        color: $contrast-color
        text-transform: uppercase
        border-bottom: 5px solid transparent
        transition: .5s ease-in-out

        &:hover
            color: $contrast-color
            border-bottom: 5px solid $complement-color

// MAIN SECTION

.sectOne
    height: 100%
    background: url(../img/hotel_dark.jpeg) no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
    .slogan
        position: absolute
        top: 30%
        width: 100%
        text-align: center
        h1
            color: #fff
            span
                display: inline-block
                padding: 20px 30px
                border: 10px double #fff
        h3
            color: #fff
            margin: 0

// WELCOME SECTION

.sectTwo
    border-top: 10px double #fff
    border-bottom: 10px double #fff
    background-color: $primary-color
    color: #fff
    padding: 20px 0
    text-align: center
    h2
        font-family: $header-font
    p
        text-align: center

.ornament-big
    display: block
    width: 50%
    margin: 0 auto

.rev-ornament-big
    display: block
    width: 50%
    margin: 0 auto
    -moz-transform: scaleY(-1)
    -webkit-transform: scaleY(-1)
    transform: scaleY(-1)
    clear: both

// SERVICES SECTION

.sectThree
    background: url(../img/hallway.jpeg) no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
    padding: 20px 0
    text-align: center
    h2
        color: #fff
        margin: 0
    .columns
        float: left
        width: 29%
        padding: 5px
        margin: 20px 1.5%
        background: #fff
        border-radius: 5px
        img
            width: 100%
            margin: 0
            border-radius: 5px
        h3
            color: $primary-color
            text-align: center
        .ornament
            display: block
            width: 80%
            margin: 0 auto
        .rev-ornament
            display: block
            width: 80%
            margin: 0 auto
            -moz-transform: scaleY(-1)
            -webkit-transform: scaleY(-1)
            transform: scaleY(-1)


// SPECIALS SECTION

.sectFour
    background-color: #fff
    color: #fff
    padding: 20px 0
    p
        color: $contrast-color
    h2
        text-align: center
        color: $primary-color
        margin: 20px
    h3
        color: $primary-color
        margin: 5px
    section
        width: 45%
        margin: 10px 2.4%
        float: left
        border: 1px solid #fff
        img
            width: 100%
            -moz-box-shadow:    5px 5px 10px #555
            -webkit-box-shadow: 5px 5px 10px #555
            box-shadow:         5px 5px 10px #555

// TESTIMONIALS SECTION

.sectFive
    border-top: 10px double #fff
    border-bottom: 10px double #fff
    background-color: $primary-color
    color: #fff
    padding: 20px 0
    text-align: center
    .button-white
        margin: 20px auto
    .columns
        float: left
        width: 28%
        padding: 10px
        margin: 60px 1.5% 30px 1.5%
        border-radius: 5px
        background: #fff
        h3
            color: $primary-color
            text-align: center
        p
            color: $contrast-color
        img
            width: 150px
            height: 150px
            border-radius: 50%
            margin-top: -75px
            border: 5px solid #fff
        .cite
            font-style: italic
            font-weight: 600
            float: right
    .rev-ornament-big
        margin-top: 30px

footer
    background: $contrast-color
    color: #fff
    font-family: $header-font
    p
        font-family: $header-font
        font-size: 1em

    .footertext
        display: block
        float: left
        margin: 0
        a
            font-family: $header-font
            font-size: 1em
            font-weight: normal
            color: #fff
            &:hover
                color: $primary-color
    ul
        list-style: none
        margin: 0
        float: right
        li
            display: inline-block
            margin-left: 10px
            a
                color: #fff
                &:hover
                    color: $primary-color
    &::after
        display: block
        content: ''
        clear: both
